{% extends "layout.html" %}
{% block content %}
	{% if tasks %}
    <div class="media content-section">
      <div class="media-body">
        <h3>{{ project.title }}</h3>
        <small class="text-muted">{{ project.date_added.strftime('%Y-%m-%d') }}</small>
      </div>
    </div>
        
    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ task.title }}</a>
              <small class="text-muted">{{ task.date_added.strftime('%Y-%m-%d') }}</small>
            </div>
            <p class="article-content">{{ task.details }}</p>
          	<h5>Task assigned to : <a class="article-title" href="#">{% for user in users %}{% if user.id == task.developer  %}{{ user.username }}{% endif %}{% endfor %}</a></h5>
            {% if current_user.is_authenticated %}
            <p class="article-content">Status : {{ task.status }}</p>
            <div class="media ">
              <a class="btn btn-outline-info" href="{{ url_for('task_update', task_id=task.id) }}">Edit</a>
            </div>
            {% endif %}
          </div>
        </article>
    {% endfor %}
    {% else %}
    	<h1>Else part</h1>
    {% endif %}
{% endblock content %}